body{

    background: url(./image/login-bg.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:100%;
    
    /* width: 100%; */
}
.login-signup-section{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}

.signup_login{
    background:linear-gradient(90deg,rgb(12, 48, 90)40% ,white 41% );
    /* width: 50%; */
    height: 450px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid gray;
    border-radius: 15px;
    
}
i{
    font-size: 15px;
    display: inline-block;
}
.login{
    width: 40%;
    display: flex;
    flex-direction: column;
   
}
.login h3{
    margin-bottom: 25px;
    padding: 5px;
    border-bottom: 2px solid gray;
    width: 150px;
}
.login div{
    margin-bottom: 25px;
}
.login div label{
    /* margin-bottom: 1 5px; */
    display:block;
}

.login-side{
    width: 30%;
    color: white;
    /* padding: 5px 50px; */
}